footer#footer.footer
    .up_down_btn(title='Наверх') 
    include ../modules/popup
    .container
      .footer__body
        .footer__item.footer-item
            a(href="#!").footer__logo
              .imgs
                img(src='assets/img/main/svg/logo-footer.svg', alt='img')
            p.footer-item__line._f-17-400 Vilkpėdės g. 8, Vilnius
            p.footer-item__line._f-17-400 I–V 8:00–17:00 
            p.footer-item__line._f-17-400 8 (5) 2 311795
            p.footer-item__line._f-17-400 +370 600 26044
            p.footer-item__line._f-17-400 info.vilnius@topclean.lt
            p.footer-item__line.soc
              a(href='#!').soc__item
                svg
                  use(xlink:href='/assets/img/sprite.svg#facebook')  

              a(href='#!').soc__item
                //- i.icon-instagram1
                svg
                  use(xlink:href='/assets/img/sprite.svg#insta')  
       
        .footer__item.footer-item
          .footer-item__title._f-20-700 Paslaugos
          .footer-item__description
            p.footer-item__line._f-17-400 Patalpų valymas
            p.footer-item__line._f-17-400 Specialieji darbai
            p.footer-item__line._f-17-400 Kiemo teritorijų ir parkingų valymas bei priežiūra
            p.footer-item__line._f-17-400 Poremontiniai ir generaliniai valymai
            p.footer-item__line._f-17-400 Papildomos paslaugos

        .footer__item.footer-item
          .footer-item__title._f-20-700 Rekvizitai
          .footer-item__description
            p.footer-item__line._f-17-400 Įmonės kodas:  135255937
            p.footer-item__line._f-17-400 PVM mokėtojo kodas: LT352559314
            p.footer-item__line._f-17-400 A.s. LT37 7044 0600 0134 1136
            p.footer-item__line._f-17-400 AB Seb bankas


      .footer__copyright  
        span._f-copy © 2021, TOP CLEAN | Visos teisės saugomos
        span._f-copy Privatumo politika