section#single.single
    .container
      .single__body
          .single__title
            h2._f-35-900 Mūsų parką papildė nauja šlavimo 
          .single__text Šia vakuumine šlavimo mašina galime iššluoti daugiaaukštes automobilių parkavimo aikšteles nesukeldami dulkių, nes ji turi vandens sistemą, o ant diskinių šepečių esantys purkštukai sudrėkina smulkias daleles. 
          .single__img 
            .imgs 
              img(data-src='assets/img/single/img.webp', alt='img')
          .single__text 
            p Šia vakuumine šlavimo mašina galime iššluoti daugiaaukštes automobilių parkavimo aikšteles nesukeldami dulkių, nes ji turi vandens sistemą, o ant diskinių šepečių esantys purkštukai sudrėkina smulkias daleles. Mašinoje įmontuota aukšto slėgio įranga puikiai nuplauna sunkiai pasiekiamas vietas (tarp atmušėjų, aplink kolonas, kampus ),o vakuuminis siurblys susiurbia ne tik smėlį, bet ir stambesnes šiukšles. Mašina įvažiuos esant ribotam aukščiui (2 m) ir dirbs nepertraukiamai, nes yra dyzelinė.  
            p Dulevo 850 mini skirta įvairiems paviršiams tvarkyti – iššluosime ne tik automobilių parkavimo aikšteles, bet ir teritoriją. Kreipkitės tel. 8 600 26044.
          a(href='#!').single__button.btn.btn--success.btn-common Susisiekite su mumis