section#contacts-1.contacts-1
    .container
      .contacts-1__body
          .contacts-1__title
           h2._f-35-900  Dirbame visoje Lietuvoje
          ul.contacts-1__items
            li.contacts-1__item.contacts-1-item
              .contacts-1-item__title._f-20-700 Rekvizitai
              .contacts-1-item__text 
                .contacts-1-item__line  Įmonės kodas: 135255937
                .contacts-1-item__line  PVM mokėtojo kodas: LT352559314
                .contacts-1-item__line  A.s. LT37 7044 0600 0134 1136
                .contacts-1-item__line  AB Seb bankas
            li.contacts-1__item.contacts-1-item
              .contacts-1-item__title._f-20-700  Centrinė būstinė
              .contacts-1-item__text  
                .contacts-1-item__line  Vilkpėdės g. 8, LT-03151 Vilnius
                .contacts-1-item__line  tel. 8 (5) 2 311795
                .contacts-1-item__line  tel. +370 600 26044 
                .contacts-1-item__line  info.vilnius@topclean.lt 
              a(href='#!').contacts-1-item__link._f-17-700  Rodyti žemėlapyje
                svg 
                  use(xlink:href='/assets/img/sprite.svg#arrow-right-green')
                
            li.contacts-1__item.contacts-1-item
              .contacts-1-item__title._f-20-700  Kauno padalinys
              .contacts-1-item__text
                .contacts-1-item__line  Jonavos g. 254, LT-44132 Kaunas
                .contacts-1-item__line  tel. 8 (37) 733384
                .contacts-1-item__line  tel. +370 600 26226
                .contacts-1-item__line  info.kaunas@topclean.lt
              a(href='#!').contacts-1-item__link._f-17-700  Rodyti žemėlapyje
                svg 
                  use(xlink:href='/assets/img/sprite.svg#arrow-right-green')



section#contacts-2.contacts-2
  .contacts-2__wrapper
    .contacts-2__img 
      .imgs
        img(data-src='assets/img/contacts/img.webp', alt='img')
    .container
      .contacts-2__body
        .contacts-2__title
           h2._f-35-900  Parašykite mums
        .contacts-2__form.contacts-form
          .contacts-form__item 
            input(type="text" placeholder="Vardas")#name
          .contacts-form__item 
            input(type="email" placeholder="El. paštas")#email
          .contacts-form__item 
            input(type="phone" placeholder="Tel. numeris")#phone
          .contacts-form__item 
            textarea(type="message" placeholder="Jūsų žinutė")#message
          .contacts-form__item
            input#cb1(type='checkbox')
            label(for='cb1') 
              span Sutinku su &nbsp;
              span 
                a(href='#!')  taisyklėmis ir sąlygomis
          button(type="submit").contacts-form__button.btn.btn--success 
            span Siųsti žinutę
          
      














