extends ../layout/main
block header
  include ../modules/first
block content
  
  //- include ../modules/vidget
  //- include ../modules/main/main-bunner
  //- include ../modules/main/main-about
  //- include ../modules/main/main-services
  include ../modules/main/main-slider
  //- include ../modules/main/main-link
  //- include ../modules/posts
  //- include ../modules/posts-low
  //- include ../modules/posts-num
  //- include ../modules/projects
  //- include ../modules/contacts
  //- include ../modules/inputs
  //- include ../modules/contacts/contacts-1
  //- include ../modules/career/career
  //- include ../modules/news/news
  //- include ../modules/single
  include ../modules/calc

block footer
  //- include ../modules/modal
  //- include ../modules/loader
  //- include ../modules/start-button
  
  include ../modules/footer 
  