extends ../layout/main
block header
  include ../modules/first
block content
  
  include ../modules/inside/inside-bunner
  include ../modules/inside/inside-1
  include ../modules/inside/inside-2
  include ../modules/inside/inside-3
  include ../modules/inside/inside-4


block footer
  include ../modules/footer 
  