section#main-about.main-about
    .container
      .main-about__body
        .main-about__column
            .main-about__title
              h2._f-35-900 Apie Mus ir Mūsų
            .main-about__text._f-17-400 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata.
            ul.main-about__cards
                li.main-line
                  .main-line__icon 
                      svg.i-line 
                        use(xlink:href='/assets/img/sprite.svg#i-line-1')
                  .main-line__text._f-17-700  Profesionaliai apmokytų darbuotojų paslaugas
                li.main-line
                  .main-line__icon 
                      svg.i-line 
                        use(xlink:href='/assets/img/sprite.svg#i-line-2')
                  .main-line__text._f-17-700  Nuolatinė paslaugas atliekančio personalo kontrolė
                li.main-line
                  .main-line__icon 
                      svg.i-line 
                        use(xlink:href='/assets/img/sprite.svg#i-line-3')
                  .main-line__text._f-17-700  Nestandartinių situacijų sprendimas ir greita reakcija į jas
                li.main-line
                  .main-line__icon 
                      svg.i-line 
                        use(xlink:href='/assets/img/sprite.svg#i-line-4')
                  .main-line__text._f-17-700  Jums tinkamiausio valymo dažnumo bei laiko parinkimas
                li.main-line
                  .main-line__icon 
                      svg.i-line 
                        use(xlink:href='/assets/img/sprite.svg#i-line-5')
                  .main-line__text._f-17-700  Lojalių darbuotojų komanda ištesės visus pažadus
            a(href="#!").btn.btn--success.main-about__button 
              span Plačiau
        .main-about__column.main-about__column--img
          .img-1
            .imgs 
              img(data-src='assets/img/main/imgs/i-2.webp', alt='img')
          .img-2
            .imgs 
              img(data-src='assets/img/main/imgs/i-1.webp', alt='img')

