section#main-slider.main-slider
    .container
      .main-slider__title 
        h2._f-35-900 Mūsų klientai
      .main-slider__body
          
          .slider.slider-js-posts-side
            .posts__item.object-card
              .object-card__img
                svg
                  use(xlink:href='/assets/img/sprite.svg#logo-part-1')
            .posts__item.object-card
              .object-card__img
                svg
                  use(xlink:href='/assets/img/sprite.svg#logo-part-2')
            .posts__item.object-card
              .object-card__img
                svg
                  use(xlink:href='/assets/img/sprite.svg#logo-part-3')
            .posts__item.object-card
              .object-card__img
                svg
                  use(xlink:href='/assets/img/sprite.svg#logo-part-4')
            .posts__item.object-card
              .object-card__img
                svg
                  use(xlink:href='/assets/img/sprite.svg#logo-part-5')
            .posts__item.object-card
              .object-card__img
                svg
                  use(xlink:href='/assets/img/sprite.svg#logo-part-1')
            .posts__item.object-card
              .object-card__img
                svg
                  use(xlink:href='/assets/img/sprite.svg#logo-part-2')
            .posts__item.object-card
              .object-card__img
                svg
                  use(xlink:href='/assets/img/sprite.svg#logo-part-3')
            .posts__item.object-card
              .object-card__img
                svg
                  use(xlink:href='/assets/img/sprite.svg#logo-part-4')
            .posts__item.object-card
              .object-card__img
                svg
                  use(xlink:href='/assets/img/sprite.svg#logo-part-5')
            
            