section#main-link.main-link
  .main-link__wrapper
    .container
      .main-link__body
        .main-link__column
          .main-link__title
            h2._f-35-900 Palikite valymo darbus mums!
          .main-link__text._f-17-400  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diamr
        .main-link__column
          a(href='#!').main-link__button.btn.btn--success  
            span Susisiekite su mumis