section#main-services.main-services
  .main-services__wrapper
    .container
      .main-services__title 
        h2._f-35-900  Valymo Paslaugos 
      ul.main-services__body
        li.main-services__item.main-card 
          .main-card__icon 
            svg.i-card 
              use(xlink:href='/assets/img/sprite.svg#i-card-1')
          .main-card__title._f-26-700    Patalpų <br> valymas
          .main-card__text._f-17-400  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          .main-card__link
            a(href='#!')._f-17-700-g  Plačiau
              svg.i-s
                use(xlink:href='/assets/img/sprite.svg#shevron-right')
        li.main-services__item.main-card 
          .main-card__icon 
            svg.i-card 
              use(xlink:href='/assets/img/sprite.svg#i-card-2')
          .main-card__title._f-26-700  Specialieji <br> darbai
          .main-card__text._f-17-400  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          .main-card__link
            a(href='#!')._f-17-700-g  Plačiau
              svg.i-s
                use(xlink:href='/assets/img/sprite.svg#shevron-right')
        li.main-services__item.main-card 
          .main-card__icon 
            svg.i-card 
              use(xlink:href='/assets/img/sprite.svg#i-card-3')
          .main-card__title._f-26-700  Kiemo teritorijų ir <br>parkingų valymas<br> beipriežiūra
          .main-card__text._f-17-400  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          .main-card__link
            a(href='#!')._f-17-700-g  Plačiau
              svg.i-s
                use(xlink:href='/assets/img/sprite.svg#shevron-right')
        li.main-services__item.main-card 
          .main-card__icon 
            svg.i-card 
              use(xlink:href='/assets/img/sprite.svg#i-card-4')
          .main-card__title._f-26-700  Poremontiniai ir <br> generaliniai valymai
          .main-card__text._f-17-400  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          .main-card__link
            a(href='#!')._f-17-700-g  Plačiau
              svg.i-s
                use(xlink:href='/assets/img/sprite.svg#shevron-right')
        li.main-services__item.main-card 
          .main-card__icon 
            svg.i-card 
              use(xlink:href='/assets/img/sprite.svg#i-card-5')
          .main-card__title._f-26-700  Papildomos <br> paslaugos
          .main-card__text._f-17-400  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          .main-card__link
            a(href='#!')._f-17-700-g  Plačiau
              svg.i-s
                use(xlink:href='/assets/img/sprite.svg#shevron-right')
        li.main-services__item.main-card 
          .main-card__icon 
            svg.i-card 
              use(xlink:href='/assets/img/sprite.svg#i-card-6')
          .main-card__title._f-26-700  Dezinfekcijos <br> paslaugos  
          .main-card__text._f-17-400  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          .main-card__link
            a(href='#!')._f-17-700-g  Plačiau
              svg.i-s
                use(xlink:href='/assets/img/sprite.svg#shevron-right')