//- вариант баннера без слайдера---------------
section.first#first
  section.bunner#bunner
      .imgs
          picture
            source(srcset='assets/img/main/imgs/bunner.webp'  type='image/webp'  media='(min-width: 1200px)')
            source(srcset='assets/img/main/imgs/bunner-lg.webp' type='image/webp'  media='(min-width: 768px) and (max-width: 1199px)')
            source(srcset='assets/img/main/imgs/bunner-sm.webp' type='image/webp'  media='(max-width: 767px)')
            img(data-src='assets/img/main/imgs/bunner.webp', alt='img')
     
      a(href="#!").bunner__cheap.popup-init-js
        <svg class="i-white">
            <use xlink:href="/assets/img/sprite.svg#i-cheap"></use>
        </svg>
        ._span-cheap  Pildyti  klausimyną

      .container
        .bunner__body
          .bunner__text  
            p._f-1 Valymo paslaugos Jūsų verslui
          .bunner__title 
            h1 
              p Atsakykite į 3 klausimus ir 
              p gaukite kainos pasiūlymą!

            a(href="#!").btn.btn--success.bunner__button
              span._span-main GAUTI PASIŪLYMĄ
              span._span-hover susisiekite su mumis
.test-svg  
  <svg class="i-white ">
    <use xlink:href="/assets/img/sprite.svg#i-cheap"></use>
  </svg>
  <svg class="i-white ">
    <use xlink:href="/assets/img/sprite.svg#i-card-4"></use>
  </svg>
  <svg class="i-white ">
    <use xlink:href="/assets/img/sprite.svg#i-card-5"></use>
  </svg>
  <svg class="i-white ">
    <use xlink:href="/assets/img/sprite.svg#i-card-6"></use>
  </svg>
  <svg class="i-white ">
    <use xlink:href="/assets/img/sprite.svg#i-line-1"></use>
  </svg>
  <svg class="i-white ">
    <use xlink:href="/assets/img/sprite.svg#i-line-2"></use>
  </svg>
  <svg class="i-white ">
    <use xlink:href="/assets/img/sprite.svg#i-line-3"></use>
  </svg>
  <svg class="i-white ">
    <use xlink:href="/assets/img/sprite.svg#i-line-4"></use>
  </svg>
  <svg class="i-white ">
    <use xlink:href="/assets/img/sprite.svg#i-line-5"></use>
  </svg>
  <svg class="i-white ">
    <use xlink:href="/assets/img/sprite.svg#i-phone"></use>
  </svg>
  <svg class="i-white ">
    <use xlink:href="/assets/img/sprite.svg#house"></use>
  </svg>
  <svg class="i-white ">
    <use xlink:href="/assets/img/sprite.svg#i-card-2"></use>
  </svg>
  <svg class="i-white ">
    <use xlink:href="/assets/img/sprite.svg#i-card-3"></use>
  </svg>
  <svg class="i-white ">
    <use xlink:href="/assets/img/sprite.svg#i-card-1"></use>
  </svg>
  