section#main-about.main-about
    .container
      .main-about__body
        .main-about__column
            .main-about__title
              h2._f-35-900 Apie Mus ir Mūsų
            .main-about__text._f-17-400 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
            ul.main-about__cards
                li.main-line
                  .main-line__icon 
                      svg.i-line 
                        use(xlink:href='/assets/img/sprite.svg#i-line-1')
                  .main-line__text._f-17-700  Profesionaliai apmokytų darbuotojų paslaugas
                li.main-line
                  .main-line__icon 
                      svg.i-line 
                        use(xlink:href='/assets/img/sprite.svg#i-line-2')
                  .main-line__text._f-17-700  Nuolatinė paslaugas atliekančio personalo kontrolė
                li.main-line
                  .main-line__icon 
                      svg.i-line 
                        use(xlink:href='/assets/img/sprite.svg#i-line-3')
                  .main-line__text._f-17-700  Nestandartinių situacijų sprendimas ir greita reakcija į jas
                li.main-line
                  .main-line__icon 
                      svg.i-line 
                        use(xlink:href='/assets/img/sprite.svg#i-line-4')
                  .main-line__text._f-17-700  Jums tinkamiausio valymo dažnumo bei laiko parinkimas
                li.main-line
                  .main-line__icon 
                      svg.i-line 
                        use(xlink:href='/assets/img/sprite.svg#i-line-5')
                  .main-line__text._f-17-700  Lojalių darbuotojų komanda ištesės visus pažadus
            a(href="#!").btn.btn--success.main-about__button 
              span Plačiau
        .main-about__column.main-about__column--img
          .img-1
            .imgs 
              img(data-src='assets/img/main/imgs/i-2.webp', alt='img')
          .img-2
            .imgs 
              img(data-src='assets/img/main/imgs/i-1.webp', alt='img')

section#about-result.about-result
    .container
      .about-result__body
        ul.about-result__column.about-result-cards
          li.about-card
            .about-card__icon
              svg
                use(xlink:href='/assets/img/sprite.svg#result-1')
            .about-card__text-green._f-22-400  Tarptautinis sertifikatas  <br> ISO 9001:2015
            .about-card__text  Kokybės vadybos sistemos  sertifikatas
          li.about-card
            .about-card__icon
              svg
                use(xlink:href='/assets/img/sprite.svg#result-2')
            .about-card__text-green._f-22-400  Tarptautinis sertifikatas ISO  <br> 14001:2015
            .about-card__text  Aplinkos vadybos sistemos sertifikatas
          li.about-card
            .about-card__icon
              svg
                use(xlink:href='/assets/img/sprite.svg#result-3')
            .about-card__text-green._f-22-400  Tarptautinis sertifikatas<br> OHSAS   18001:2007
            .about-card__text  Darbuotojų saugos ir sveikatos vadybos sertifikatas
          li.about-card
            .about-card__icon
              svg
                use(xlink:href='/assets/img/sprite.svg#result-4')
            .about-card__text-green._f-22-400  Visuomenės sveikatos<br> priežiūros veiklos licencija<br> NR. VSL-821  
            .about-card__text  Dezinfekcijos, dezinsekcijos ir deratizacijos kokybės standartas
            

        .about-result__column.about-result-info
          .about-result-info__title 
            h2._f-35-900   Ilgametės patirties rezultatai
          .about-result-info__text  Teikdami paslaugas naudojame tik aukštos kokybės, sertifikuotas, sveikatos ir saugumo reikalavimus atitinkančias valymo priemones bei inventorių. 2010 metais "Top Clean" įdiegė kokybės vadybos sistemos standartą ISO 9001:2008 (nuo 2016 m. - ISO 9001:2015), aplinkos vadybos sistemos standartą ISO 14001:2004 (nuo 2016 m.- ISO 14001:2015) ir darbuotojų saugos ir sveikatos vadybos standartą OHSAS 18001:2007. Įmonė apsidraudusi civilinės atsakomybės draudimu.
