section#news.news
    .container
      .news__title
        h2._f-35-900 Naujienos
      ul.news__body
        li.news__card.news-card
          a(href='#!')
          .news-card__img
            .imgs 
              img(data-src='assets/img/news/img-1.webp', alt='img')
          .news-card__title._f-22-400  Poremontiniai ir generaliniai  valymai
          .news-card__text  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diamrconsetetur sadipscing elitr, sed diamr diamrconsetetur 
        li.news__card.news-card
          a(href='#!')
          .news-card__img
            .imgs 
              img(data-src='assets/img/news/img-1.webp', alt='img')
          .news-card__title._f-22-400  Poremontiniai ir generaliniai  valymai
          .news-card__text  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diamrconsetetur sadipscing elitr, sed diamr diamrconsetetur 
        li.news__card.news-card
          a(href='#!')
          .news-card__img
            .imgs 
              img(data-src='assets/img/news/img-1.webp', alt='img')
          .news-card__title._f-22-400  Poremontiniai ir generaliniai  valymai
          .news-card__text  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diamrconsetetur sadipscing elitr, sed diamr diamrconsetetur 
        li.news__card.news-card
          a(href='#!')
          .news-card__img
            .imgs 
              img(data-src='assets/img/news/img-1.webp', alt='img')
          .news-card__title._f-22-400  Poremontiniai ir generaliniai  valymai
          .news-card__text  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diamrconsetetur sadipscing elitr, sed diamr diamrconsetetur 
        li.news__card.news-card
          a(href='#!')
          .news-card__img
            .imgs 
              img(data-src='assets/img/news/img-1.webp', alt='img')
          .news-card__title._f-22-400  Poremontiniai ir generaliniai  valymai
          .news-card__text  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diamrconsetetur sadipscing elitr, sed diamr diamrconsetetur 
        li.news__card.news-card
          a(href='#!')
          .news-card__img
            .imgs 
              img(data-src='assets/img/news/img-1.webp', alt='img')
          .news-card__title._f-22-400  Poremontiniai ir generaliniai  valymai
          .news-card__text  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diamrconsetetur sadipscing elitr, sed diamr diamrconsetetur 

