@font-face {
font-family: 'Mulish-Black';
src:
local(Mulish-Black),
url('/assets/fonts/Mulish-Black.ttf') format('truetype');
font-weight: 900;
font-style: normal;
font-stretch: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('/assets/fonts/icomoon.eot?pf97s8');
  src:  url('/assets/fonts/icomoon.eot?pf97s8#iefix') format('embedded-opentype'),
    url('/assets/fonts/icomoon.ttf?pf97s8') format('truetype'),
    url('/assets/fonts/icomoon.woff?pf97s8') format('woff'),
    url('/assets/fonts/icomoon.svg?pf97s8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-whatsapp:before {
  content: "\ea93";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-vimeo:before {
  content: "\eaa0";
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-behance:before {
  content: "\eaa9";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-pinterest2:before {
  content: "\ead2";
}
.icon-spoon-knife:before {
  content: "\e9a3";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-android:before {
  content: "\eac0";
}
.icon-coin-dollar:before {
  content: "\e93b";
}
.icon-coin-euro:before {
  content: "\e93d";
}
.icon-coin-pound:before {
  content: "\e93f";
}
.icon-coin-yen:before {
  content: "\e941";
}
.icon-home:before {
  content: "\e900";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-google-plus31:before {
  content: "\ea8e";
}
.icon-twitter1:before {
  content: "\ea97";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-free-icon-facebook-logo-in-circular-shape-446461:before {
  content: "\e977";
}
.icon-bin2:before {
  content: "\e9ad";
}
.icon-instagram1:before {
  content: "\ea95";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-i-11:before {
  content: "\e905";
}
.icon-chat:before {
  content: "\e903";
}
.icon-clock:before {
  content: "\e946";
}
.icon-facebook-dark1:before {
  content: "\e921";
}
.icon-printer:before {
  content: "\e954";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-bubble2:before {
  content: "\e96e";
}
.icon-arrow-2:before {
  content: "\e902";
  color: #fff;
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-image:before {
  content: "\e91f";
}
.icon-go:before {
  content: "\e91a";
  color: #fff;
}
.icon-arrow-long .path1:before {
  content: "\e97d";
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.icon-arrow-long .path2:before {
  content: "\e9cc";
  margin-left: -1em;
  color: rgb(36, 36, 36);
  opacity: 0.5;
}
.icon-whatsapp1:before {
  content: "\ea94";
}
.icon-vimeo1:before {
  content: "\eaa1";
}
.icon-dribbble1:before {
  content: "\eaa8";
}
.icon-behance1:before {
  content: "\eaaa";
}
.icon-skype1:before {
  content: "\eac6";
}
.icon-pinterest21:before {
  content: "\ead3";
}
.icon-spoon-knife1:before {
  content: "\e9a4";
}
.icon-sphere1:before {
  content: "\e9ca";
}
.icon-android1:before {
  content: "\eac1";
}
.icon-coin-dollar1:before {
  content: "\e93c";
}
.icon-coin-euro1:before {
  content: "\e93e";
}
.icon-coin-pound1:before {
  content: "\e940";
}
.icon-coin-yen1:before {
  content: "\e942";
}
.icon-home1:before {
  content: "\e901";
}
.icon-linkedin21:before {
  content: "\eacb";
}
.icon-google-plus311:before {
  content: "\ea8f";
}
.icon-twitter11:before {
  content: "\ea98";
}
.icon-share21:before {
  content: "\ea83";
}
.icon-free-icon-facebook-logo-in-circular-shape-4464611:before {
  content: "\e978";
}
.icon-bin21:before {
  content: "\e9ae";
}
.icon-instagram11:before {
  content: "\ea96";
}
.icon-facebook21:before {
  content: "\ea92";
}
.icon-i-111:before {
  content: "\e950";
}
.icon-chat1:before {
  content: "\e904";
}
.icon-clock1:before {
  content: "\e947";
}
.icon-facebook-dark11:before {
  content: "\e922";
}
.icon-printer1:before {
  content: "\e955";
}
.icon-zoom-in1:before {
  content: "\e98a";
}
.icon-zoom-out1:before {
  content: "\e989";
}
.icon-eye1:before {
  content: "\e9cf";
}
.icon-bubble21:before {
  content: "\e96f";
}
.icon-bubble1:before {
  content: "\e96c";
}
.icon-image1:before {
  content: "\e920";
}
.icon-whatsapp11:before {
  content: "\ea9b";
}
.icon-vimeo11:before {
  content: "\eaa2";
}
.icon-dribbble11:before {
  content: "\eaab";
}
.icon-behance11:before {
  content: "\eaac";
}
.icon-skype11:before {
  content: "\eac7";
}
.icon-pinterest211:before {
  content: "\ead4";
}
.icon-spoon-knife11:before {
  content: "\e9a5";
}
.icon-sphere11:before {
  content: "\e9cb";
}
.icon-android11:before {
  content: "\eac2";
}
.icon-coin-dollar11:before {
  content: "\e9a8";
}
.icon-coin-euro11:before {
  content: "\e9a9";
}
.icon-coin-pound11:before {
  content: "\e9aa";
}
.icon-coin-yen11:before {
  content: "\e9ab";
}
.icon-home11:before {
  content: "\e985";
}
.icon-linkedin211:before {
  content: "\eacc";
}
.icon-google-plus3111:before {
  content: "\ea90";
}
.icon-twitter111:before {
  content: "\ea9c";
}
.icon-share211:before {
  content: "\ea84";
}
.icon-free-icon-facebook-logo-in-circular-shape-44646111:before {
  content: "\e98c";
}
.icon-bin211:before {
  content: "\e9af";
}
.icon-instagram111:before {
  content: "\ea99";
}
.icon-facebook211:before {
  content: "\ea9a";
}
.icon-chat11:before {
  content: "\e9b5";
}
.icon-clock11:before {
  content: "\e9b6";
}
.icon-facebook-dark111:before {
  content: "\e9b7";
}
.icon-printer11:before {
  content: "\e9b8";
}
.icon-zoom-out11:before {
  content: "\e998";
}
.icon-eye11:before {
  content: "\e9d0";
}
.icon-bubble211:before {
  content: "\e99a";
}
.icon-bubble11:before {
  content: "\e9c5";
}
.icon-image11:before {
  content: "\e9c6";
}
.icon-heart-o:before {
  content: "\e908";
}
.icon-logo-youtube:before {
  content: "\e933";
  color: #626262;
}
.icon-bx-brush-alt:before {
  content: "\e92d";
  color: #626262;
}
.icon-trowel:before {
  content: "\e92e";
  color: #626262;
}
.icon-entrance:before {
  content: "\e92f";
  color: #626262;
}
.icon-sharp-balcony:before {
  content: "\e930";
  color: #626262;
}
.icon-classical-building:before {
  content: "\e931";
  color: #626262;
}
.icon-building-insights-3:before {
  content: "\e932";
  color: #626262;
}
.icon-telegram1:before {
  content: "\e906";
  color: #626262;
}
.icon-messenger1:before {
  content: "\e918";
  color: #626262;
}
.icon-heart-o11:before {
  content: "\e983";
}
.icon-heart-o1:before {
  content: "\e909";
}
.icon-logo-youtube1:before {
  content: "\e934";
  color: #626262;
}
.icon-telegram11:before {
  content: "\e907";
  color: #626262;
}
.icon-messenger11:before {
  content: "\e919";
  color: #626262;
}
.icon-heart-o12:before {
  content: "\e984";
}
.icon-heart-o2:before {
  content: "\e9a7";
}
.icon-logo-youtube11:before {
  content: "\e995";
  color: #626262;
}
.icon-telegram111:before {
  content: "\e9b4";
  color: #626262;
}
.icon-messenger111:before {
  content: "\e9b3";
  color: #626262;
}
.icon-heart-o111:before {
  content: "\e9b2";
}
.icon-share-alt:before {
  content: "\e90a";
}
.icon-star-full:before {
  content: "\e90c";
}
.icon-volume-up:before {
  content: "\e90e";
}
.icon-shopping-cart:before {
  content: "\e910";
}
.icon-notification:before {
  content: "\e912";
}
.icon-format-font-size:before {
  content: "\e914";
}
.icon-news-paper:before {
  content: "\e916";
}
.icon-close21:before {
  content: "\e963";
}
.icon-location:before {
  content: "\e95f";
}
.icon-location-current:before {
  content: "\e95d";
}
.icon-menu1:before {
  content: "\e951";
}
.icon-Vector-5:before {
  content: "\e91d";
  color: #90a0b7;
}
.icon-more:before {
  content: "\e91b";
  color: #c2cfe0;
}
.icon-user:before {
  content: "\e961";
}
.icon-user-add:before {
  content: "\e95b";
}
.icon-arrow-down:before {
  content: "\e953";
}
.icon-arrow-left:before {
  content: "\e94e";
}
.icon-arrow-right:before {
  content: "\e948";
}
.icon-arrow-thin-up:before {
  content: "\e935";
}
.icon-calendar:before {
  content: "\e92b";
}
.icon-camera:before {
  content: "\e923";
}
.icon-cheveron-outline-down:before {
  content: "\e924";
}
.icon-clipboard:before {
  content: "\e925";
}
.icon-cloud-upload:before {
  content: "\e926";
}
.icon-coffee:before {
  content: "\e97f";
}
.icon-computer-desktop:before {
  content: "\e97b";
}
.icon-document:before {
  content: "\e973";
}
.icon-edit-cut:before {
  content: "\e971";
}
.icon-envelope:before {
  content: "\e967";
}
.icon-thumbs-up:before {
  content: "\e965";
}
.icon-phone:before {
  content: "\e959";
}
.icon-duplicate:before {
  content: "\e94c";
}
.icon-edit-copy:before {
  content: "\e94a";
}
.icon-edit-crop:before {
  content: "\e937";
}
.icon-heart:before {
  content: "\e938";
}
.icon-bug:before {
  content: "\e97e";
}
.icon-share-alt1:before {
  content: "\e90b";
}
.icon-star-full1:before {
  content: "\e90d";
}
.icon-volume-up1:before {
  content: "\e90f";
}
.icon-shopping-cart1:before {
  content: "\e911";
}
.icon-notification1:before {
  content: "\e913";
}
.icon-format-font-size1:before {
  content: "\e915";
}
.icon-news-paper1:before {
  content: "\e917";
}
.icon-close211:before {
  content: "\e964";
}
.icon-location1:before {
  content: "\e960";
}
.icon-location-current1:before {
  content: "\e95e";
}
.icon-menu11:before {
  content: "\e952";
}
.icon-Vector-51:before {
  content: "\e91e";
  color: #90a0b7;
}
.icon-more1:before {
  content: "\e91c";
  color: #c2cfe0;
}
.icon-user1:before {
  content: "\e962";
}
.icon-user-add1:before {
  content: "\e95c";
}
.icon-arrow-down1:before {
  content: "\e956";
}
.icon-arrow-left1:before {
  content: "\e94f";
}
.icon-arrow-right1:before {
  content: "\e949";
}
.icon-arrow-thin-up1:before {
  content: "\e936";
}
.icon-calendar1:before {
  content: "\e92c";
}
.icon-camera1:before {
  content: "\e92a";
}
.icon-cheveron-outline-down1:before {
  content: "\e929";
}
.icon-clipboard1:before {
  content: "\e928";
}
.icon-cloud-upload1:before {
  content: "\e927";
}
.icon-coffee1:before {
  content: "\e980";
}
.icon-computer-desktop1:before {
  content: "\e97c";
}
.icon-document1:before {
  content: "\e974";
}
.icon-edit-cut1:before {
  content: "\e972";
}
.icon-envelope1:before {
  content: "\e968";
}
.icon-thumbs-up1:before {
  content: "\e966";
}
.icon-phone1:before {
  content: "\e95a";
}
.icon-duplicate1:before {
  content: "\e94d";
}
.icon-edit-copy1:before {
  content: "\e94b";
}
.icon-edit-crop1:before {
  content: "\e945";
}
.icon-heart1:before {
  content: "\e939";
}
.icon-share-alt11:before {
  content: "\e9ac";
}
.icon-star-full11:before {
  content: "\e9b0";
}
.icon-volume-up11:before {
  content: "\e9b1";
}
.icon-shopping-cart11:before {
  content: "\e986";
}
.icon-notification11:before {
  content: "\e98b";
}
.icon-news-paper11:before {
  content: "\e994";
}
.icon-close2111:before {
  content: "\e997";
}
.icon-location11:before {
  content: "\e996";
}
.icon-location-current11:before {
  content: "\e99d";
}
.icon-menu111:before {
  content: "\e99c";
}
.icon-Vector-511:before {
  content: "\e9b9";
  color: #90a0b7;
}
.icon-user11:before {
  content: "\e999";
}
.icon-user-add11:before {
  content: "\e99e";
}
.icon-arrow-down11:before {
  content: "\e99f";
}
.icon-arrow-left11:before {
  content: "\e9a0";
}
.icon-arrow-right11:before {
  content: "\e9c2";
}
.icon-arrow-thin-up11:before {
  content: "\e9c1";
}
.icon-calendar11:before {
  content: "\e9c0";
}
.icon-camera11:before {
  content: "\e9bf";
}
.icon-cheveron-outline-down11:before {
  content: "\e9be";
}
.icon-clipboard11:before {
  content: "\e9bd";
}
.icon-cloud-upload11:before {
  content: "\e9bc";
}
.icon-coffee11:before {
  content: "\e9bb";
}
.icon-computer-desktop11:before {
  content: "\e98d";
}
.icon-document11:before {
  content: "\e98e";
}
.icon-edit-cut11:before {
  content: "\e98f";
}
.icon-envelope11:before {
  content: "\e990";
}
.icon-thumbs-up11:before {
  content: "\e99b";
}
.icon-phone11:before {
  content: "\e9a6";
}
.icon-duplicate11:before {
  content: "\e9a1";
}
.icon-edit-copy11:before {
  content: "\e9c3";
}
.icon-edit-crop11:before {
  content: "\e9c4";
}
.icon-heart11:before {
  content: "\e9c7";
}
.icon-cheveron-down:before {
  content: "\e993";
}
.icon-cheveron-left:before {
  content: "\e992";
}
.icon-cheveron-right:before {
  content: "\e991";
}
.icon-cheveron-up:before {
  content: "\e9c8";
}
.icon-meetings-1 .path1:before {
  content: "\e93a";
  color: rgb(196, 196, 196);
}
.icon-meetings-1 .path2:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(245, 246, 248);
}
.icon-Vector:before {
  content: "\e981";
  color: #c2cfe0;
}
.icon-delete:before {
  content: "\e979";
  color: #c2cfe0;
}
.icon-edit:before {
  content: "\e975";
  color: #90a0b7;
}
.icon-attach:before {
  content: "\e96d";
  color: #90a0b7;
}
.icon-emoji:before {
  content: "\e969";
  color: #90a0b7;
}
.icon-meetings-11 .path1:before {
  content: "\e944";
  color: rgb(196, 196, 196);
}
.icon-meetings-11 .path2:before {
  content: "\e9cd";
  margin-left: -1em;
  color: rgb(245, 246, 248);
}
.icon-Vector1:before {
  content: "\e982";
  color: #c2cfe0;
}
.icon-delete1:before {
  content: "\e97a";
  color: #c2cfe0;
}
.icon-edit1:before {
  content: "\e976";
  color: #90a0b7;
}
.icon-attach1:before {
  content: "\e970";
  color: #90a0b7;
}
.icon-emoji1:before {
  content: "\e96a";
  color: #90a0b7;
}
.icon-Vector11:before {
  content: "\e9ba";
  color: #c2cfe0;
}
.icon-arrow_drop_down1:before {
  content: "\e957";
}
.icon-arrow_drop_down11:before {
  content: "\e958";
}
.icon-arrow_drop_down111:before {
  content: "\e9a2";
}
