section.first--inside#first
  section.bunner#inside-bunner.bunner--inside
      .imgs
          picture
            source(srcset='assets/img/inside/inside-bunner.webp'  type='image/webp'  media='(min-width: 1200px)')
            source(srcset='assets/img/inside/inside-bunner-lg.webp' type='image/webp'  media='(min-width: 768px) and (max-width: 1199px)')
            source(srcset='assets/img/inside/inside-bunner-sm.webp' type='image/webp'  media='(max-width: 767px)')
            img(data-src='assets/img/inside/inside-bunner.webp', alt='img')
      a(href="#!").bunner__cheap.popup-init-js
        <svg class="i-white">
            <use xlink:href="/assets/img/sprite.svg#i-cheap"></use>
        </svg>
        ._span-cheap  Pildyti  klausimyną