section#inside-1.inside-2
    .container
      .inside-2__body
        .inside-2__title
          h2._f-26-700  Lorem ipsum dolor sit amet
        .inside-2__column.inside-1-column
          .inside-1-column__line
            .inside-2-column__title._f-20-700  Lorem ipsum dolor sit amet
            .inside-2-column__text._f-17-400  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea 
          .inside-1-column__line
            .inside-2-column__title._f-20-700  Lorem ipsum dolor sit amet
            .inside-2-column__text._f-17-400  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea 
          .inside-1-column__line
            .inside-2-column__title._f-20-700  Lorem ipsum dolor sit amet
            .inside-2-column__text._f-17-400  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea 